

.image{
 
    margin-right: 20px;
}
.image1{
 
    margin-right: 20px;
}
.image2{
 
    margin-right: 20px;
}
.image3{
 
    margin-right: 20px;
}


       


















